parameters:
  - name: tf_operation
    displayName: "Terraform Operation"
    default: destroy
    values:
      - destroy
      - apply
trigger: 
  - main

jobs:
- job: 
  displayName: build
  pool: 
    vmImage: ubuntu-latest
  steps:
  - script: |
      curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
      sudo apt-add-repository "deb [arch=$(dpkg --print-architecture)] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
      sudo apt install terraform
    displayName: "Installing terraform"
  - script: 
      terraform -v
    displayName: "Verify terraform installation"
  - task: DownloadSecureFile@1
    name: aws_credentials_file
    displayName: 'Download AWS credentils file'
    inputs:
      secureFile: 'credentials'
  - script: |
      mkdir ~/.aws
      cp $(aws_credentials_file.secureFilePath) ~/.aws
    displayName: "Configuring AWS"
  - script: 
      terraform init
    displayName: "terraform init"
  - script: 
      terraform validate
    displayName: "terraform validate"
  - script: terraform apply --auto-approve
    condition: and(succeeded(), eq(parameters.tf_operation, 'apply'))
    displayName: "terraform apply"
  - script: terraform destroy --auto-approve
    condition: and(succeeded(), eq(parameters.tf_operation, 'destroy'))
    displayName: "terraform destroy"   